section.top-block {
  background: url("../img/america.png") center center/cover no-repeat; }
  section.top-block .container {
    padding-top: 220px;
    padding-bottom: 270px; }
    @media (max-width: 767px) {
      section.top-block .container {
        padding-top: 120px;
        padding-bottom: 170px; } }
    @media (max-width: 575px) {
      section.top-block .container {
        padding-top: 60px;
        padding-bottom: 85px; } }
    section.top-block .container .left-side {
      display: flex;
      flex-direction: column;
      max-width: 490px;
      width: 100%; }
      section.top-block .container .left-side h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        color: #030303;
        margin: 0; }
        @media (max-width: 575px) {
          section.top-block .container .left-side h2 {
            font-size: 32px;
            line-height: 36px; } }
      section.top-block .container .left-side .text {
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #030303;
        margin: 0 0 16px; }
        section.top-block .container .left-side .text span {
          color: #37467B; }
        @media (max-width: 575px) {
          section.top-block .container .left-side .text {
            font-size: 26px;
            line-height: 30px; } }
      section.top-block .container .left-side .alert {
        max-width: 300px;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 28px; }
        @media (max-width: 575px) {
          section.top-block .container .left-side .alert {
            font-size: 16px;
            line-height: 18px; } }
      section.top-block .container .left-side .buttons {
        display: flex; }
        @media (max-width: 575px) {
          section.top-block .container .left-side .buttons {
            flex-direction: column; } }
        section.top-block .container .left-side .buttons .btn {
          margin-right: 35px; }
          section.top-block .container .left-side .buttons .btn:last-child {
            margin-right: 0;
            background: #3ABBC5;
            border-color: #228C94; }
          @media (max-width: 575px) {
            section.top-block .container .left-side .buttons .btn {
              margin-right: 0;
              margin-bottom: 15px; }
              section.top-block .container .left-side .buttons .btn:last-child {
                margin-bottom: 0; } }
