section.profit-cars
  padding-top: 115px
  padding-bottom: 80px
  background: url("../img/profit-cars_BG.png") left bottom / 553px 635px no-repeat #1C2232
  position: relative
  overflow: hidden
  @media (max-width: 575px)
    padding-top: 50px
    padding-bottom: 30px
  &:before
    content: ''
    width: 483px
    height: 483px
    background: #313643
    border-radius: 50%
    position: absolute
    top: -116px
    right: -241px
    z-index: 0
  &:after
    content: ''
    width: 160px
    height: 160px
    background: #313643
    border-radius: 50%
    position: absolute
    top: 411px
    right: -82px
    z-index: 0
  .container
    display: flex
    flex-direction: column
    z-index: 1
    .title
      font-weight: 700
      font-size: 31px
      line-height: 38px
      color: #ffffff
      margin: 0 0 42px
      span
        color: #3ABBC5
    .grid
      display: grid
      grid-template-columns: 1fr
      grid-gap: 30px
      grid-auto-columns: auto
      align-items: flex-start
      .elem
        display: flex
        align-items: center
        padding: 12px 55px 12px 75px
        background: url("../img/profit-bg.png") center center / cover no-repeat
        @media (max-width: 1199px)
          padding: 10px 35px 10px 55px
        @media (max-width: 767px)
          flex-direction: column
        @media (max-width: 575px)
          padding: 10px 15px 10px 35px
        .text
          width: 50%
          box-sizing: border-box
          padding-right: 90px
          display: flex
          flex-direction: column
          @media (max-width: 1365px)
            padding-right: 40px
          @media (max-width: 959px)
            width: 40%
          @media (max-width: 767px)
            width: 100%
            padding: 25px 0 50px
          .name
            font-weight: 600
            font-size: 25px
            line-height: 30px
            padding-bottom: 9px
            color: #ffffff
            margin: 0 0 16px
            position: relative
            &:after
              content: ''
              position: absolute
              left: 0
              bottom: 0
              height: 3px
              width: 75%
              background: linear-gradient(90deg, rgba(48, 60, 94, 0) 0%, #606571 49.48%, rgba(48, 60, 94, 0) 100%)
          ul
            padding: 0
            margin: 0
            list-style: none
            display: flex
            flex-direction: column
            li
              display: flex
              @media (max-width: 959px)
                flex-direction: column
                margin-bottom: 10px
                &:last-child
                  margin-bottom: 0
              @media (max-width: 767px)
                flex-direction: row
              @media (max-width: 479px)
                flex-direction: column
              p
                font-weight: 700
                font-size: 20px
                line-height: 30px
                color: #ffffff
                margin: 0 10px 0 0
                @media (max-width: 1199px)
                  font-size: 18px
                  line-height: 24px
              span
                font-size: 20px
                line-height: 30px
                color: #ffffff
                margin: 0
                @media (max-width: 1199px)
                  font-size: 18px
                  line-height: 24px
        .cars
          width: 50%
          box-sizing: border-box
          padding-left: 105px
          padding-top: 50px
          padding-bottom: 15px
          display: grid
          grid-template-columns: 1fr 1fr
          grid-auto-rows: 1fr
          grid-gap: 50px
          position: relative
          @media (max-width: 1365px)
            padding-left: 50px
          @media (max-width: 1199px)
            grid-gap: 40px
          @media (max-width: 959px)
            width: 60%
          @media (max-width: 767px)
            width: 100%
            padding: 50px 0 25px
          &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 3px
            height: 100%
            transform: translateX(-50%)
            background: linear-gradient(180deg, rgba(48, 60, 94, 0) 0%, #606571 49.48%, rgba(48, 60, 94, 0) 100%)
            @media (max-width: 767px)
              height: 3px
              width: 100%
              background: linear-gradient(90deg, rgba(48, 60, 94, 0) 0%, #606571 49.48%, rgba(48, 60, 94, 0) 100%)
              transform: none
          .car
            display: flex
            align-items: center
            height: 80px
            background: #484D5B
            border-radius: 7px
            transition: all .1s
            text-decoration: none
            &:hover
              box-shadow: inset 0 0 6px 6px #fff
            @media (max-width: 479px)
              flex-direction: column
            .image
              position: relative
              width: 40%
              height: 80px
              @media (max-width: 479px)
                width: 100%
              img
                max-width: 125px
                max-height: 95px
                width: auto
                height: auto
                position: absolute
                left: -30px
                @media (max-width: 479px)
                  left: 0
                  top: -40px
            .name
              width: 60%
              box-sizing: border-box
              padding-left: 15px
              font-weight: 700
              font-size: 14px
              line-height: 17px
              color: #ffffff